/*contiene estilos para la pagina que verá el médico*/

@media screen and (min-width:1025px) {

    .middle {
        height: 700px;
        width: 100%;
        
    }
}

@media screen and (min-width:681px) and (max-width:1024px) {
    .middle {
        height: 1800px;
        width: 100%;
        
    }
}

@media screen and (min-width:0px) and (max-width:680px) {
    .middle {
        height: 4200px;
        width: 100%;
        
    }
}